# Python and Analytics

In [1]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [2]:
# Addition
num1 + num2

7

In [3]:
# Subtraction
num2 - num3

-10.41

In [4]:
# Multiplication
num3 * num4

-4.446

In [5]:
# Division
num4 / num5

-0.08571428571428572

In [6]:
# Exponent
num5 ** num6

343

In [7]:
# Increment existing variable
num7 += 4
num7

15.11

In [8]:
# Decrement existing variable
num6 -= 2
num6

1

In [9]:
# Multiply & re-assign
num3 *= 5
num3

37.05

In [10]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

-101.14999999999999

In [11]:
# Are these two expressions equal to each other?
num1 + num2 == num5

True

In [12]:
# Are these two expressions not equal to each other?
num3 != num4

True

In [13]:
# Is the first expression less than the second expression?
num5 < num6

False

In [14]:
# Is this expression True?
5 > 3 > 1

True

In [15]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [16]:
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [17]:
# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [18]:
# Notice that the string was not modified
simple_string1

'an example'

In [19]:
# Multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

In [20]:
# This string wasn't modified either
simple_string2

'oranges '

In [21]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

False

In [22]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

True

In [23]:
# Add and re-assign
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

In [24]:
# Multiply and re-assign
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

## Basic containers <a name="containers"></a>

> Note: **mutable** objects can be modified after creation and **immutable** objects cannot.

Containers are objects that can be used to group other objects together. The basic container types include:

- **`str`** (string: immutable; indexed by integers; items are stored in the order they were added)
- **`list`** (list: mutable; indexed by integers; items are stored in the order they were added)
  - `[3, 5, 6, 3, 'dog', 'cat', False]`
- **`tuple`** (tuple: immutable; indexed by integers; items are stored in the order they were added)
  - `(3, 5, 6, 3, 'dog', 'cat', False)`
- **`set`** (set: mutable; not indexed at all; items are NOT stored in the order they were added; can only contain immutable objects; does NOT contain duplicate objects)
  - `{3, 5, 6, 3, 'dog', 'cat', False}`
- **`dict`** (dictionary: mutable; key-value pairs are indexed by immutable keys; items are NOT stored in the order they were added)
  - `{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}`

When defining lists, tuples, or sets, use commas (,) to separate the individual items. When defining dicts, use a colon (:) to separate keys from values and commas (,) to separate the key-value pairs.

Strings, lists, and tuples are all **sequence types** that can use the `+`, `*`, `+=`, and `*=` operators.

In [25]:
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [26]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [27]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [28]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

{3, 5, 6, False, 'cat', 'dog'}

In [29]:
# Items in the dict object are not stored in the order they were added
dict1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [30]:
# Add and re-assign
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [31]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [32]:
# Multiply
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [33]:
# Multiply
(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## Accessing data in containers <a name="data"></a>

For strings, lists, tuples, and dicts, we can use **subscript notation** (square brackets) to access data at an index.

- strings, lists, and tuples are indexed by integers, **starting at 0** for first item
  - these sequence types also support accesing a range of items, known as **slicing**
  - use **negative indexing** to start at the back of the sequence
- dicts are indexed by their keys

> Note: sets are not indexed, so we cannot use subscript notation to access data elements.

In [34]:
# Access the first item in a sequence
list1[0]

3

In [35]:
# Access the last item in a sequence
tuple1[-1]

'grapes'

In [36]:
# Access a range of items in a sequence
simple_string1[3:8]

'examp'

In [37]:
# Access a range of items in a sequence
tuple1[:-3]

(3, 5, 6, 3, 'dog', 'cat')

In [38]:
# Access a range of items in a sequence
list1[4:]

['dog', 'cat', False, 5, 'grapes']

In [39]:
# Access an item in a dictionary
dict1['name']

'Jane'

In [40]:
# Access an element of a sequence in a dictionary
dict1['fav_foods'][2]

'fish'

In [41]:
# 5.2.1 Create some containers
list2 = ['car', 'plane', 'boat', 'train']
tuple2 = ('first', 'second', 'third', 'fourth')
dict2 = {'CPU':'Arm', 'Network':'WiFi', 'Storage':['SSD', 'Sata', 'Tape']}

In [43]:
# 5.2.2 What is the first item in list2?

list2[0]

'car'

In [44]:
# 5.2.3 What is the last item in list2?

list2[-1]

'train'

In [51]:
# 5.2.4 What are the first 3 items in tuple2?

tuple2[0:3]

('first', 'second', 'third')

In [59]:
# 5.2.5 What is the value of dict2 for the CPU?

dict2['CPU']

'Arm'

In [65]:
# 5.2.6 What is the first type of Storage in dict2?

dict2['Storage'][0]

'SSD'

In [ ]:
# %load https://raw.githubusercontent.com/IBM/python-and-analytics/master/data/answers/python3-answers-5.2.py
# 5.2.1 Create some containers
list2 = ['car', 'plane', 'boat', 'train']
tuple2 = ('first', 'second', 'third', 'fourth')
dict2 = {'CPU':'Arm', 'Network':'WiFi', 'Storage':['SSD', 'Sata', 'Tape']}

# 5.2.2 What is the first item in list2?
list2[0]

# 5.2.3 What is the last item in list2?
list2[-1]

# 5.2.4 What are the first 3 items in tuple2?
tuple2[:3]

# 5.2.5 What is the value of dict2 for the CPU?
dict2['CPU']

# 5.2.6 What is the first type of Storage in dict2?
dict2['Storage'][0]

## Python built-in functions and callables <a name="builtin"></a>

A **function** is a Python object that you can "call" to **perform an action** or compute and **return another object**. You call a function by placing parentheses to the right of the function name. Some functions allow you to pass **arguments** inside the parentheses (separating multiple arguments with a comma). Internal to the function, these arguments are treated like variables.

Python has several useful built-in functions to help you work with different objects and/or your environment. Here is a small sample of them:

- **`type(obj)`** to determine the type of an object
- **`len(container)`** to determine how many items are in a container
- **`callable(obj)`** to determine if an object is callable
- **`sorted(container)`** to return a new list from a container, with the items sorted
- **`sum(container)`** to compute the sum of a container of numbers
- **`min(container)`** to determine the smallest item in a container
- **`max(container)`** to determine the largest item in a container
- **`abs(number)`** to determine the absolute value of a number
- **`repr(obj)`** to return a string representation of an object

> Complete list of built-in functions: https://docs.python.org/3/library/functions.html

There are also different ways of defining your own functions and callable objects that we will explore later.

In [66]:
# Use the type() function to determine the type of an object
type(simple_string1)

str

In [67]:
# Use the len() function to determine how many items are in a container
len(dict1)

3

In [68]:
# Use the len() function to determine how many items are in a container
len(simple_string2)

24

In [69]:
# Use the callable() function to determine if an object is callable
callable(len)

True

In [70]:
# Use the callable() function to determine if an object is callable
callable(dict1)

False

In [71]:
# Use the sorted() function to return a new list from a container, with the items sorted
sorted([10, 1, 3.6, 7, 5, 2, -3])

[-3, 1, 2, 3.6, 5, 7, 10]

In [72]:
# Use the sorted() function to return a new list from a container, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

['California', 'Chicago', 'ants', 'cats', 'dogs', 'mice', 'zebras']

In [73]:
# Use the sum() function to compute the sum of a container of numbers
sum([10, 1, 3.6, 7, 5, 2, -3])

25.6

In [74]:
# Use the min() function to determine the smallest item in a container
min([10, 1, 3.6, 7, 5, 2, -3])

-3

In [75]:
# Use the min() function to determine the smallest item in a container
min(['g', 'z', 'a', 'y'])

'a'

In [76]:
# Use the max() function to determine the largest item in a container
max([10, 1, 3.6, 7, 5, 2, -3])

10

In [77]:
# Use the max() function to determine the largest item in a container
max('gibberish')

's'

In [78]:
# Use the abs() function to determine the absolute value of a number
abs(10)

10

In [79]:
# Use the abs() function to determine the absolute value of a number
abs(-12)

12

In [80]:
# Use the repr() function to return a string representation of an object
repr(set1)

"{False, 3, 5, 6, 'dog', 'cat'}"

## Python object attributes (methods and properties) <a name="attributes"></a>

Different types of objects in Python have different **attributes** that can be referred to by name (similar to a variable). To access an attribute of an object, use a dot (`.`) after the object, then specify the attribute (i.e. `obj.attribute`)

When an attribute of an object is a callable, that attribute is called a **method**. It is the same as a function, only this function is bound to a particular object.

When an attribute of an object is not a callable, that attribute is called a **property**. It is just a piece of data about the object, that is itself another object.

The built-in `dir()` function can be used to return a list of an object's attributes.

<hr>

## Some methods on string objects <a name="strings"></a>

- **`.capitalize()`** to return a capitalized version of the string (only first char uppercase)
- **`.upper()`** to return an uppercase version of the string (all chars uppercase)
- **`.lower()`** to return an lowercase version of the string (all chars lowercase)
- **`.count(substring)`** to return the number of occurences of the substring in the string
- **`.startswith(substring)`** to determine if the string starts with the substring
- **`.endswith(substring)`** to determine if the string ends with the substring
- **`.replace(old, new)`** to return a copy of the string with occurences of the "old" replaced by "new"

In [81]:
# 7.1.1 Assign a string to a variable
a_string = 'tHis is a sTriNg'

In [82]:
# 7.1.2 Return a capitalized version of the string
a_string.capitalize()

'This is a string'

In [83]:
# 7.1.3 Return an uppercase version of the string
a_string.upper()

'THIS IS A STRING'

In [84]:
# 7.1.4 Return a lowercase version of the string
a_string.lower()

'this is a string'

In [85]:
# 7.1.5 Notice that the methods called have not actually modified the string
a_string

'tHis is a sTriNg'

In [87]:
# 7.1.6 Count number of occurences of the substring 'i' in the string
a_string.count('i')

3

In [97]:
# 7.1.7 Count number of occurences of the substring 'i' in the string after a certain position
a_string.count('i',3)

2

In [98]:
# 7.1.8 Count number of occurences of the substring 'is' in the string
a_string.count('is')

2

In [89]:
# 7.1.9 Does the string start with 'this'?
a_string.startswith('this')

False

In [104]:
# 7.1.10 Does the lowercase string start with 'this'?
a_string.lower().startswith('this')

True

In [90]:
# 7.1.11 Does the string end with 'Ng'?
a_string.endswith('Ng')

True

In [91]:
# 7.1.12 Return a version of the string with a substring replaced with something else
a_string.replace('Ng','ng')

'tHis is a sTring'

In [93]:
# 7.1.13 Return a version of the string with a substring replaced with something else
a_string.replace('sTriNg','STRING')

'tHis is a STRING'

In [107]:
# 7.1.14 Return a version of the string with the first 2 occurences a substring replaced with something else
a_string.replace('i','I',2)

'tHIs Is a sTriNg'

## Some methods on list objects <a name="lists"></a>

- **`.append(item)`** to add a single item to the list
- **`.extend([item1, item2, ...])`** to add multiple items to the list
- **`.remove(item)`** to remove a single item from the list
- **`.pop()`** to remove and return the item at the end of the list
- **`.pop(index)`** to remove and return an item at an index

### list:
list1 = [3, 5, 6, 3, 'dog', 'cat', False]

In [171]:
# 7.2.1 Add a 'cow' to the list
list1.append('cow')
list1

[3,
 5,
 6,
 3,
 False,
 5,
 'grapes',
 'cow',
 'cow',
 'chicken',
 'pig',
 'chicken',
 'cow',
 'cow',
 'chicken',
 'pig',
 'cow',
 'chicken',
 'pig',
 'cow']

In [172]:
# 7.2.2 Add 'chicken' and 'pig'
list1.extend(['chicken','pig'])
list1

[3,
 5,
 6,
 3,
 False,
 5,
 'grapes',
 'cow',
 'cow',
 'chicken',
 'pig',
 'chicken',
 'cow',
 'cow',
 'chicken',
 'pig',
 'cow',
 'chicken',
 'pig',
 'cow',
 'chicken',
 'pig']

In [174]:
# 7.2.3 Remove the 'cat'
list1.remove('pig')
list1

[3,
 5,
 6,
 3,
 False,
 5,
 'grapes',
 'cow',
 'cow',
 'chicken',
 'chicken',
 'cow',
 'cow',
 'chicken',
 'pig',
 'cow',
 'chicken',
 'pig',
 'cow',
 'chicken',
 'pig']

In [175]:
# 7.2.4 Remove and return the last item in the list
last_item = list1.pop()
print(last_item)

pig

## Some methods on set objects <a name="sets"></a>

- **`.add(item)`** to add a single item to the set
- **`.update([item1, item2, ...])`** to add multiple items to the set
- **`.update(set2, set3, ...)`** to add items from all provided sets to the set
- **`.remove(item)`** to remove a single item from the set
- **`.pop()`** to remove and return a random item from the set
- **`.difference(set2)`** to return items in the set that are not in another set
- **`.intersection(set2)`** to return items in both sets
- **`.union(set2)`** to return items that are in either set
- **`.symmetric_difference(set2)`** to return items that are only in one set (not both)
- **`.issuperset(set2)`** does the set contain everything in the other set?
- **`.issubset(set2)`** is the set contained in the other set?

In [184]:
# 7.3.1 Create some sets to work with
lunch = {'sandwich', 'pasta', 'pizza', 'curry'}
dinner = {'pasta', 'stir fry', 'curry', 'pie'}

In [185]:
# 7.3.2 Add 'rice' to dinner
dinner.add('rice')
dinner

{'curry', 'pasta', 'pie', 'rice', 'stir fry'}

In [186]:
# 7.3.3 Add 'wrap' and 'soup' to lunch
lunch.update(['wrap','soup'])
lunch

{'curry', 'pasta', 'pizza', 'sandwich', 'soup', 'wrap'}

In [187]:
# 7.3.4 Add 2 sets to another
meals = {'eggs'}
meals.update(lunch, dinner)
meals

{'curry',
 'eggs',
 'pasta',
 'pie',
 'pizza',
 'rice',
 'sandwich',
 'soup',
 'stir fry',
 'wrap'}

In [188]:
# 7.3.5 Remove the 'pie' from dinner. You need something more nutritious
dinner.remove('pie')
dinner

{'curry', 'pasta', 'rice', 'stir fry'}

In [189]:
# 7.3.6 We cannot decide what's for lunch. Have python pick something at random
lunch.pop()

'curry'

In [190]:
# 7.3.7 What is in lunch, but not dinner?
lunch.difference(dinner)

{'pizza', 'sandwich', 'soup', 'wrap'}

In [191]:
# 7.3.8 What is in both lunch and dinner?
lunch.intersection(dinner)

{'pasta'}

In [192]:
# 7.3.9 What is in either lunch or dinner?
lunch.union(dinner)

{'curry', 'pasta', 'pizza', 'rice', 'sandwich', 'soup', 'stir fry', 'wrap'}

## Some methods on dict objects <a name="dicts"></a>

- **`.update([(key1, val1), (key2, val2), ...])`** to add multiple key-value pairs to the dict
- **`.update(dict2)`** to add all keys and values from another dict to the dict
- **`.pop(key)`** to remove key and return its value from the dict (error if key not found)
- **`.pop(key, default_val)`** to remove key and return its value from the dict (or return default_val if key not found)
- **`.get(key)`** to return the value at a specified key in the dict (or None if key not found)
- **`.get(key, default_val)`** to return the value at a specified key in the dict (or default_val if key not found)
- **`.keys()`** to return a list of keys in the dict
- **`.values()`** to return a list of values in the dict
- **`.items()`** to return a list of key-value pairs (tuples) in the dict

In [193]:
# 7.4.1 Start with a dict
capitals = {'UK':'London', 'Japan':'Tokyo', 'India':'New Delhi', 'Peru':'Lima'}
capitals

{'UK': 'London', 'Japan': 'Tokyo', 'India': 'New Delhi', 'Peru': 'Lima'}

In [201]:
# 7.4.2 Add the Capitals Rome, Italy and Prague, Czech Republic:
capitals.update([('Czech Republic','Prague'), ('Italy','Rome')])
capitals

{'UK': 'London',
 'Japan': 'Tokyo',
 'India': 'New Delhi',
 'Peru': 'Lima',
 'Czech Republic': 'Prague',
 'Italy': 'Rome'}

In [204]:
# 7.4.3 Create a dictionary called "new_captials" consisting of Cairo, Egypt and Helsinki, Finland. Then add it to "capitals" and print:
new_capitals = {'Cairo':'Egypt','Helsinki':'Finland'}
capitals.update(new_capitals)
capitals

{'UK': 'London',
 'Japan': 'Tokyo',
 'India': 'New Delhi',
 'Peru': 'Lima',
 'Czech Republic': 'Prague',
 'Italy': 'Rome',
 'Cairo': 'Egypt',
 'Helsinki': 'Finland'}

In [205]:
# 7.4.4 Remove the UK and print it's capital
capitals.pop('UK')

'London'

In [207]:
# 7.4.5 Remove the capital of Cuba, or, if it is not found, print "Not Found":
capitals.pop('Cuba',"Not Found")

'Not Found'

In [215]:
# 7.4.6 return the capital of Finland, but do not remove
capitals.get('Finland')

In [216]:
# 7.4.7 return the capital of Mexico or "Could not find it" if it is not in the dict
capitals.get('Mexico', 'Could not find it')

'Could not find it'

In [217]:
# 7.4.8 list all the countries (keys) in the capitals dict
capitals.keys()

dict_keys(['Japan', 'India', 'Peru', 'Czech Republic', 'Italy', 'Cairo', 'Helsinki'])

In [218]:
# 7.4.9 List all the capitals (values) in the capitals dict
capitals.values()

dict_values(['Tokyo', 'New Delhi', 'Lima', 'Prague', 'Rome', 'Egypt', 'Finland'])

In [219]:
# 7.4.10 list all the countries and capitals (keys and values) in the capitals dict
capitals.items()

dict_items([('Japan', 'Tokyo'), ('India', 'New Delhi'), ('Peru', 'Lima'), ('Czech Republic', 'Prague'), ('Italy', 'Rome'), ('Cairo', 'Egypt'), ('Helsinki', 'Finland')])